input.tgn-input {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 7em;
   }

input.meetingDatePicker {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
